<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chinesedreamer.dubbocenter.job.dao.JobDao">
	<resultMap type="com.chinesedreamer.dubbocenter.job.model.Job" id="jobResultMap">
		<id property="jobId" column="job_id"/>
		<result property="jobDescription" column="job_description"/>
		<result property="cmdStartLocation" column="cmd_startLocation"/>
		<result property="cmdStopLoacation" column="cmd_stopLoacation"/>
		<result property="status" column="status"/>
	</resultMap>
	
	<sql id="jobColumns">
		job_id, job_description, cmd_startLocation, cmd_stopLoacation, status
	</sql>
	
	<insert id="save" parameterType="com.chinesedreamer.dubbocenter.job.model.Job">
		insert into job 
		(
			job_id, job_description, cmd_startLocation, cmd_stopLoacation, status
		)
		values
		(
			#{jobId,jdbcType=VARCHAR},
			#{jobDescription,jdbcType=VARCHAR},
			#{cmdStartLocation,jdbcType=VARCHAR},
			#{cmdStopLoacation,jdbcType=VARCHAR},
			#{status,jdbcType=INTEGER}
		)
	</insert>
	
	<update id="update" parameterType="com.chinesedreamer.dubbocenter.job.model.Job">
		update job 
		<set>
			<if test="jobDescription != null">
				job_description = #{jobDescription,jdbcType=VARCHAR},
			</if>
			<if test="cmdStartLocation != null">
				cmd_startLocation = #{cmdStartLocation,jdbcType=VARCHAR},
			</if>
			<if test="cmdStopLoacation != null">
				cmd_stopLoacation = #{cmdStopLoacation,jdbcType=VARCHAR},
			</if>
		</set>
		where job_id = #{jobId,jdbcType=VARCHAR}
	</update>
	
	<delete id="delete" parameterType="java.lang.String">
		delete from job where job_id = #{jobId,jdbcType=VARCHAR}
	</delete>
	
	<delete id="deleteInbatch" parameterType="java.lang.String">
		delete from job where job_id in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<select id="getByJobId" parameterType="java.lang.String" resultMap="jobResultMap">
		select 
		<include refid="jobColumns" />
		from job
		where job_id = #{jobId,jdbcType=VARCHAR}
	</select>
	
	<select id="getList" parameterType="java.lang.String" resultMap="jobResultMap">
		select 
		<include refid="jobColumns" />
		from job
		where 1 = 1
	</select>
	
	<update id="updateStatus" >
		update job set status = #{status,jdbcType=INTEGER} where job_id = #{jobId,jdbcType=VARCHAR}
	</update>
	
</mapper>